<div class="container-fluid">
  <table class="table">
    <thead>
      <!-- ... -->
    </thead>
    <tbody>
      <% @todos.each do |todo| %>
        <tr>
          <td>
            <%= form_for(todo, remote: true, url: toggle_check_todo_path(todo), method: :patch) do |f| %>
              <%= f.check_box :check, class: "check-box", data: { toggle_path: toggle_check_todo_path(todo) } %>
            <% end %>
          </td>
          <td>
            <a class="navbar-brand" href="<%= todo_path(todo) %>"><%= todo.task %></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

